@using time_warden.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome-free-6.7.1-web/css/all.min.css")
    @Styles.Render("~/Content/custom.css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
<div class="row" style="height:100%">
    <div class="col-6">
        <div class="row">
            <div style="height:2em"></div>
            <!-- Login Section-->
            <div class="col-1"><i class="fa-solid fa-arrow-left backbtn"></i></div>
            <div class="col-5 loginForm">
                <h1>Welcome back</h1>
                <h5>Please enter your details;</h5>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class="text-danger" })
                    <div class ="form-group">
                        <i class="fa-solid fa-user loginico"></i>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "EmailLogin" })
                        @Html.ValidationMessageFor(m => m.Username, "", new {@class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <i class="fa-solid fa-lock loginico"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "PasswordLogin" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-check cstm-check">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="submit-wrapper">
                        <input type="submit" value="Log in" class="btn btn-primary loginbtn"/>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-6 twbg">
        <div class="row">

            <div style="height:10em"></div>
            <div class="col-1"></div>
            <div class="col-5 align-self-center"><img src="/Content/img/desktop.gif"/></div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>