@model IEnumerable<time_warden.Models.Shift>

@{
    ViewBag.Title = "Manage Shifts";
}

<h2>Manage Shifts</h2>

<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Shift")'">Schedule New Shift</button>
</div>


<table class="table" style="margin-top: 30px;">
    <thead>
    <tr>
        <th>Shift ID</th>
        <th>Worked By</th> 
        <th>Shift Date</th>
        <th>Clock In</th>
        <th>Clock Out</th>
        <th>Hours Worked</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var shift in Model)
    {
        <tr>
            <td>@shift.ShiftId</td>
            <td>@shift.User.FirstName @shift.User.Surname (@shift.User.UserId)</td> 
            <td>@shift.ShiftDate.ToString("yyyy-MM-dd")</td>
            <td>@shift.ClockInTime.ToString("HH:mm:ss")</td>
            <td>@shift.ClockOutTime.ToString("HH:mm:ss")</td>
            <td>@shift.HoursWorked</td>
            <td>@shift.Status</td>
        </tr>
    }
    </tbody>
</table>